*{
	font-family: 'Indie Flower', cursive;
}
body {
	background: black;
}

.postcard {
	width: 400px;
	height: auto;
	margin: auto;
	background: white;
}

.postcard-header {
	display: flex;
	width: 100%;
	height: 25%;
}

.postcard .postcard-header > .title{
	width: 80%;
}

.title > h2{
	margin: 20px;
}

.img > img{
	width: 50px;
	height: 50px;
	margin: 10px;
}

.postcard-body {
	display: flex;
	width: 100%;
}

.body-left {
	width: 55%;
}

.body-left > :nth-child(1) {
	margin-top: 0px;
}

.body-left > p {
	box-sizing: border-box;
	font-size: 16px;
	text-align: justify;
	padding: 5px 10px 5px 20px;
	margin: 0px;
}

.body-right {
	width: 45%;
	padding: 5px;
}

.body-right input {
	width: 95%;
	margin-top: 10px;
	border: 0px;
	border-bottom: 1px solid grey;
}

.postcard-footer {
	width: 100%;
	padding: 10px;
	text-align: center;
	box-sizing: border-box;
}

button {
	margin: 0px 10px 10px 10px;
	color: rgb(0, 0, 0);
	padding: 5px;
	background: rgba(148, 148, 148, 0.74);
	border: 0px;
	border-bottom: 1px solid gray;
	border-right: 1px solid gray;
	border-radius: 3px;
}

button:hover {
	transition: 500ms;
	background: rgba(66, 148, 255, 0.74);
}

button:active {
	transition: 0ms;
	background: rgba(148, 148, 148, 0.74);
}
